<p id="notice"><%= notice %></p>

<p>
  <strong>Email</strong>
  <%= @admin.email %>
</p>

<p>
  <strong>Registration date</strong>
  <%= @admin.created_at %>
</p>

<p> And other information... </p>

<%= link_to 'Back', admin_admins_path %>
