// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sign-up-panel, .log-out-panel
  padding: 5px
  position: absolute
  top: 0px

.sign-up-panel
  left: 15px

.log-out-panel
  right: 15px

.homepage-panel
  padding: 5px
  height: 400px
  margin-top: 100px
  .homepage-title
    font-family: Tahoma, sans-serif
    font-weight: bold

.login-buttons-panel
  padding: 5px
  height: 200px

.btn-square
  padding: 10px
  margin: 1px
  border-radius: 0
